.container{
	
	    background:  #ccebff ;
}


img{
   height:100px;
   margin-left:480px;
   
}

form{
	padding:10px 10px;
	background-color:white;
	width:35%;
	height:auto;
	
	    margin-left: 400px;
}

#name{
	padding:8px;
	width:45%;
	height:25px;
	border-radius:10px;
	border:1px solid grey;
	
}

#last{
	padding:8px;
	width:45%;
	height:25px;
	border-radius:10px;
	border:1px solid grey;
	
}

#email{
	padding:10px;
	margin-top:10px;
	width:94%;
	height:25px;
	border-radius:10px;
	border:1px solid grey;
		
}
#password{
	padding:10px;
	margin-top:10px;
	width:94%;
	height:25px;
	border-radius:10px;
	border:1px solid grey;
	
	
	
}

	
#day{
	margin-top:10px;
	width:32%;
	height:40px;
	border-radius:10px;
	border:1px solid grey;

}

#month{
	margin-top:10px;
	width:32%;
	height:40px;
	border-radius:10px;
	border:1px solid grey;
	
	
}
#year{
	margin-top:10px;
	width:32%;
	height:40px;
	border-radius:10px;
	border:1px solid grey;
	
}

.btn button{
	margin-top:10px;
	border:none;
	border-radius:10px;
	width:180px;
	height:40px;
	background-color:#00a400;
	color:white;
	margin-left:150px;
	margin-bottom:15px;
}

.redios{
   display:flex;
     justify-content: space-between;
   
}
.male{
	border:1px solid gray;
	width:30%;
	height:30px;
	padding:8px 0px;
	text-align: center;
	border-radius:10px;
}
.female{
	border:1px solid gray;
	width:30%;
	height:30px;
	padding:8px 0px;
	text-align: center;
	border-radius:10px;
}
.custom{
	border:1px solid gray;
	width:30%;
	height:30px;
	padding:8px 0px;
	text-align: center;
	border-radius:10px;
}
.an{
	
	margin-left:130px;
	 text-decoration: none;
	 font-size:25px;
	 color:blue;
}

